.page.theme_light {
  --font-family: 'IBM Plex mono';
  --font-size: 18px;
  --line-height-small: 82.5%;
  --line-height-normal: 100%;
  --line-height-big: 130%;
  --font-weight: normal;
  --accent-font-weight: bold;
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFC2E6;
  --accent-color: #FF0070;
  --rec-color: transparent;
  --rec-after-color: transparent;
  --text-color: #353430;
  --button-text-color: #353430;
  --content-title-color: #353430;
  --decorated-zone-color: #353430;
  --title-color: #FFC2E6;
  --shadow-color: #FF8DCB;
  --header-subtitle-color: #353430;
  --title-background-color: #FF8DCB;
  --link-border: 1px solid #353430;
  --button-outline-active: 1px solid #000028;
  --button-outline-hover: 1px solid rgb(53, 52, 48, 0.4);
  --button-underline: 1px solid #353430;
}

@media (prefers-color-scheme: light) {
  .page {
    --font-family: 'IBM Plex mono';
    --font-size: 18px;
    --line-height-small: 82.5%;
    --line-height-normal: 100%;
    --line-height-big: 130%;
    --font-weight: normal;
    --accent-font-weight: bold;
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #FFC2E6;
    --accent-color: #FF0070;
    --rec-color: transparent;
    --rec-after-color: transparent;
    --text-color: #353430;
    --button-text-color: #353430;
    --content-title-color: #353430;
    --decorated-zone-color: #353430;
    --title-color: #FFC2E6;
    --shadow-color: #FF8DCB;
    --header-subtitle-color: #353430;
    --title-background-color: #FF8DCB;
    --link-border: 1px solid #353430;
    --button-outline-active: 1px solid #000028;
    --button-outline-hover: 1px solid rgb(53, 52, 48, 0.4);
    --button-underline: 1px solid #353430;
  }
}